header {
    width: 100%;
    z-index: 1000;
    top: 0;
    transition: box-shadow 0.3s ease-in-out;
  }
  
  .sticky {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  }
  
  .navbar {
    background-color: #27333f;
  }
  
  .navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .navbar-brand {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    color: #f8f9fa;
  }
  
  .nav-links {
    display: flex;
    gap: 20px; /* Add space between links */
  }
  
  .nav-link {
    color: #adb5bd;
    transition: color 0.3s ease;
  }
  
  .nav-link:hover,
  .nav-link.active {
    color: #f8f9fa;
  }
  
  .nav-number {
    font-family: "Space Mono", monospace;
    font-weight: bold;
    color: #f8f9fa;
    margin-right: 5px;
  }

  .active-link {
    border-bottom: 2px solid #43aa85; /* green underline */
    padding-bottom: 4px;
  }
  
  .shadow-sm {
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, .075) !important;
  }
  
  .bg-dark {
    background-color: hsl(212, 26%, 14%) !important;
  }
  
  .surname {
    font-size: 20px;
    font-weight: bold;
  }
  
  .spacer {
    flex: 1 1 auto;
  }
  
  .menu-button {
    display: none;
  }
  
  .sidenav-container {
    height: 50%;
    background: transparent;
    position: absolute; /* Position it over content */
    top: 0;
    right: 0;
    z-index: 1050; /* Ensure it's above content but below header */
  }

  .sidenav-header {
    display: flex;
    justify-content: flex-end;
  }
  
  .close-button {
    color: #fff;
    margin-bottom: 1rem;
  }  
  
  .custom-sidenav {
    width: 250px;
    background-color: #1c1c1c;
    color: #fff;
    padding: 1rem;
    position: fixed; /* Keep it fixed on top */
    top: 0;
    right: 0;
    height: 55%;
    transform: translateX(100%); /* Initially hidden */
    transition: transform 0.3s ease-in-out; /* Smooth transition */
    z-index: 1060;
    touch-action: pan-y;
  }
  
  .custom-sidenav.mat-sidenav.opened {
    transform: translateX(0); /* Slide in when open */
  }
  
  .mat-list-item {
    font-family: "Space Mono", monospace;
    font-size: 1rem;
  }
  
  .mat-icon {
    color: white;
  }
  
  .mobile-nav a {
    display: block;
    padding: 16px;
    color: #f8f9fa;
    text-decoration: none;
  }
  
  .mobile-nav a:hover {
    background: #333;
  }
  
  /* Responsive tweaks */
  @media (max-width: 768px) {
    .nav-links {
      display: none;
    }
  
    .menu-button {
      display: block;
    }
  }
