.footer {
  background-color: #27333f;
  padding: 10px 0;
  color: #adb5bd;
  margin-top: auto;
}

.footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  flex-wrap: wrap;
}

.footer p {
  margin: 0;
  color: #b0caf063;
  flex: 1;
  text-align: left; /* Force left alignment */
}

.footer-icons {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

.footer-icons a {
  color: #b0caf063;
  position: relative;
  text-decoration: none;
  display: inline-block;
}

.footer-icons a::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  display: block;
  margin-top: 5px;
  right: 0;
  background: #00FF00;
  transition: width 0.3s ease, background-color 0.3s ease;
}

.footer-icons a:hover::after {
  width: 100%;
  left: 0;
  background: #00FF00;
}

.footer-icons a:hover,
.footer-icons a:active {
  color: #f8f9fa;
}

/* Font Awesome Icons */
.fab,
.fas {
  font-size: 24px;
}

/* Responsive design */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    justify-content: space-between;
    align-items: center; /* Keep text on left */
  }

  .footer p {
    text-align: left;
    width: 100%;
    margin-bottom: 10px;
  }

  .footer-icons {
    flex-wrap: wrap;
    gap: 15px;
  }
}
