<footer class="footer bg-dark">
  <div class="container">
    <div class="footer-content">
      <p>&copy; <span id="currentYear"></span> {{currentYear }} | Developed with Angular and ❤️ from 🇺🇦 by skxnsen 🚀</p>
      <div class="footer-icons">
        <a href="https://www.linkedin.com/in/skxnsen/" target="_blank" class="a-green">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="https://github.com/skxnsen" target="_blank" class="a-green">
          <i class="fab fa-github"></i>
        </a>
        <a href="mailto:emkeyen96@gmail.com" class="a-green">
          <i class="fas fa-envelope"></i>
        </a>
        <a href="https://t.me/skxnsen/" target="_blank" class="a-green">
          <i class="fab fa-telegram"></i>
        </a>
      </div>
    </div>
  </div>
</footer>
