<div class="align-items-center default-container">
    <div class="col-lg-8">
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic" id="skills-heading">About me</h2>
                <p class="default-p">
                    My name is Mykhail 🧑🏻‍💻 and I enjoy <span class="default-highlight">transforming ideas into technical solutions</span>.
                </p>
                <p>
                    <img src="../../assets/about6.gif" alt="Programmer Animation" class="about-picture">
                </p>
                <p class="default-p">
                    I am a Software Test Engineer with a focus on <span class="default-highlight">mobile and web applications</span>, 
                    specializing in <span class="default-highlight">test automation, manual testing</span> and <span class="default-highlight">DevOps practices</span>. I'm passionate about <span class="default-highlight">quality assurance</span> 
                    and delivering flawless user experiences across multiple platforms.
                </p>
                <p class="default-p">
                    My interest in technology began while working in the maritime navigation field, which led me to pursue a career in IT. 
                    Since then, I’ve worked with various <span class="default-highlight">automation frameworks</span> and technologies.
                    This journey has been fueled by a deep curiosity for how systems work and the thrill of solving complex problems.
                </p>
                <p class="default-p">
                    I’ve had the privilege of collaborating with development teams to create efficient testing strategies, 
                    ensuring the quality of applications using both manual and automated tests.
                </p>
                <p class="default-p">
                    I’ve worked on building scalable test automation frameworks from scratch using <span class="default-highlight">Playwright </span> with <span class="default-highlight">pytest</span> in <span class="default-highlight">Python</span> and 
                    <span class="default-highlight">Playwright</span> with <span class="default-highlight">JavaScript/TypeScript</span> for web applications, <span class="default-highlight">Appium </span> with UIAutomator Driver in <span class="default-highlight">Python</span>
                    for Android apps. I also have some experience with <span class="default-highlight">Cypress</span>, writing unit tests in <span class="default-highlight">JavaScript</span> using <span class="default-highlight">Jest</span>, and with <span class="default-highlight">Robot Framework</span>, applying <span class="default-highlight">OOP principles</span> and the <span class="default-highlight">Page Object Model (POM) design pattern</span> 
                    to ensure maintainable, reusable, and scalable test scripts. This has allowed me to improve testing efficiency and drive quality in Agile environments. 
                    <br>
                    Additionally, I have experience with API testing 
                    using tools like <span class="default-highlight">Postman, Insomnia, Schemanthesis</span>. Currently, I'm exploring contract testing with Pact. Also I work with network intereceptors to analyze traffic with <span class="default-highlight"> Proxyman, mitmproxy, ZAProxy, Burp Suite</span> and <span class="default-highlight">tcpdump</span>.
                </p>
                <p>
                    <img src="../../assets/about4.gif" alt="Keyboard Animation" class="about-picture">
                </p>                
                <p class="default-p">
                    DevOps is an area I’m passionate about, where I’ve implemented <span class="default-highlight">CI/CD pipelines</span> with <span class="default-highlight">GitHub Actions</span> and <span class="default-highlight">Jenkins</span>, 
                    focusing on automation to streamline the testing process and improve software delivery efficiency. I’ve also worked with <span class="default-highlight">microservices architectures</span> 
                    using tools like <span class="default-highlight">Docker & Docker Compose</span>.
                    Additionally, I have basic hands-on experience with <span class="default-highlight">AWS Cloud</span>, 
                    and I use <span class="default-highlight">Linux</span> on a daily basis. I’m also familiar with <span class="default-highlight">Bash scripting</span>, allowing me to automate tasks and optimize workflows.
                </p>                
                <p class="default-p">
                    I have hands-on experience in <span class="default-highlight">mobile testing</span>, working with tools like <span class="default-highlight">ADB commands</span> 
                    for debugging and inspecting <span class="default-highlight">mobile logs</span> (e.g., <span class="default-highlight">adb logcat</span> and <span class="default-highlight">Xcode console</span>) 
                    to root cause issues. I’ve also worked extensively with <span class="default-highlight">Android Studio</span> (emulators, adb) and <span class="default-highlight">Xcode</span> 
                    (simulators, console) for mobile app testing. Additionally, I have a deep understanding of the <span class="default-highlight">architecture of mobile platforms</span>, 
                    <span class="default-highlight"> store requirements</span>, and <span class="default-highlight">UI/UX testing</span>, where I have leveraged tools like <span class="default-highlight">Figma</span> 
                    and studied <span class="default-highlight">Material Design by Google</span> and <span class="default-highlight">user interface guidelines</span> to ensure intuitive mobile app experiences.
                </p>
                <p class="default-p">
                    I’ve also conducted <span class="default-highlight">accessibility testing</span> based on <span class="default-highlight">WCAG requirements</span> 
                    and prepared <span class="default-highlight">VPAT reports</span> to ensure compliance with accessibility standards. On top of that, I’ve been involved in <span class="default-highlight">mobile security testing</span> 
                    for Android apps, including using <span class="default-highlight">OWASP Mobile</span> guidelines, performing <span class="default-highlight">reverse engineering</span>, 
                    and conducting <span class="default-highlight">static analysis</span> to identify security vulnerabilities. 
                </p>
                <p class="default-p">
                    My testing experience spans across <span class="default-highlight">activity/components manual mobile testing</span> for native Android and iOS apps, <span class="default-highlight">Flutter apps</span>, 
                    and devices with <span class="default-highlight">custom AOSP</span>, ensuring seamless functionality, performance, and compliance with platform standards.
                </p>                
                <p class="default-p">
                    I’ve contributed to testing <span class="default-highlight">REST APIs</span>, <span class="default-highlight">GraphQL</span> queries, and <span class="default-highlight">WebSockets</span>, 
                    ensuring their functionality, reliability, and performance under various conditions. Additionally, I have experience with databases like <span class="default-highlight">MySQL</span> to 
                    verify data integrity and support backend operations through extensive testing and query optimization.
                </p>                
                <p class="default-p">
                    I'm highly invested in <span class="default-highlight">continuous learning</span> and stay up-to-date with the latest industry trends to bring the most innovative solutions to my team. 
                    Whether it’s diving into the intricacies of a new technology or experimenting with the latest testing tools, I thrive on challenges and believe in the power of automation to solve real-world problems.
                </p>
                <p>
                    <img src="../../assets/about3.gif" alt="Gaming Animation" class="about-picture">
                </p>
                <p class="default-p">
                    Outside of work, I enjoy <span class="default-highlight">exploring new technologies</span> and open-source projects, 
                    <span class="default-highlight">reading tech resources</span>, and staying active with activities like <span class="default-highlight">walking & rowing</span>, <span class="default-highlight">gaming</span> and listening to <span class="default-highlight">lo-fi music</span>. 
                    I’m passionate about improving software development practices, sharing knowledge with peers, and making a positive impact in the tech community.
                </p>
                <p class="default-p">
                    I am always open to new opportunities, aiming to work in a <span class="default-highlight">stable and innovative environment</span> where I can further expand my skills and contribute to impactful projects.
                </p>
            </div>
            <div class="content">
                <div class="content-left">
                    <h2 class="default-topic">Reach me out</h2>
                    <p class="default-p">
                        Feel free to connect with me on social media, check out my GitHub for projects, or <span class="default-highlight">connect on LinkedIn</span>. 
                        I would love to discuss how my <span class="default-highlight">experience in QA and automation</span> can help solve the challenges you're facing.
                    </p>
                    <button>
                        <a routerLink="/contact" class="a-green">
                            Contact me
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
