<div class="align-items-center default-container">
    <div class="col-lg-5">
        <div class="contact-card">
            <img src="../../assets/contact1.jpg" alt="Profile image" class="contact-image">
            <h2 class="contact-title"><span class="white-highlight">&lt;</span>
                Mykhail Stieblov
                <span class="white-highlight">
                    /&gt;
                </span>
            </h2>
            <h1 class="default-highlight">SOFTWARE TEST ENGINEER</h1>

            <div class="media-content">
                <div class="media-icons">
                    <div class="media-icon">
                        <a href="https://www.linkedin.com/in/skxnsen/" target="_blank" class="a-green">
                            <i class="fab fa-linkedin"></i>
                        </a>
                    </div>
                    <div class="media-icon">
                        <a href="https://github.com/skxnsen/" target="_blank" class="a-green">
                            <i class="fab fa-github"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="mailto:emkeyen96@gmail.com" class="a-green">
                            <i class="fas fa-envelope"></i>
                        </a>
                    </div>

                    <div class="media-icon">
                        <a href="https://t.me/skxnsen/" target="_blank" class="a-green">
                            <i class="fab fa-telegram"></i>
                        </a>
                    </div>
                </div>
            </div>

            <p class="contact-paragraph">
                I'm always excited to collaborate on innovative projects and contribute to delivering high-quality products. 
                If you're looking for a dedicated Software Test Engineer to help improve quality and reliability, feel free to reach out through any channel.
            </p>
            <button>
                <a href="https://www.linkedin.com/in/skxnsen/" target="_blank" class="a-green">
                Connect on LinkedIn
                </a>
            </button>
        </div>
    </div>
</div>
