<div class="align-items-center default-container">
    <div class="col-lg-8">
        @for (alert of alerts; track alert) {
            <ngb-alert [type]="alert.type" (closed)="close(alert)">{{ alert.message }}</ngb-alert>
        }
        <div class="content">
            <div class="content-left">
                <h2 class="default-topic" id="skills-heading">Skills</h2>
                <p class="default-p" id="skills-description">
                    My Technical Journey: Languages, Hard Skills, and Key Technologies I've Worked With.
                </p>
                <app-accordion></app-accordion>
            </div>
        </div>
    </div>
</div>
