<div class="accordion-left">

  <accordion [isAnimated]="true">

    <accordion-group 
    heading="Languages" 
    [panelClass]="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p>🇬🇧 <strong><span class="default-highlight">English</span></strong> Fluent</p>
      <p>🇺🇦 <strong><span class="default-highlight">Ukrainian</span></strong> Native</p>
      <p>🇷🇺 <strong><span class="default-highlight">Russian</span></strong> Native</p>
      <p>🇩🇪 <strong><span class="default-highlight">German</span></strong> Basic</p>
      <p>🇵🇱 <strong><span class="default-highlight">Polish</span></strong> Basic</p>
    </div>
    </accordion-group>

    <accordion-group 
    heading="Education" 
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p><strong><span class="default-highlight">2014 - 2018</span></strong> - KSMA [Navigation] | Bachelor of Science in Engineering (BSc)</p>
      <ul>
        <li>
          Originally trained in advanced navigation and satellite systems, maritime operations and higher mathematics, providing a strong technical foundation. 
        </li>
      </ul>
      <p><strong><span class="default-highlight">2011 - 2014</span></strong> - KSMC [Navigation] | Associate of Science in Engineering (ASc)</p>
      <ul>
        <li>
          Originally trained in advanced navigation and satellite systems, maritime operations and higher mathematics, providing a strong technical foundation. 
        </li>
      </ul>
    </div>    
  </accordion-group>

  <accordion-group 
  heading="Automated Testing" 
  panelClass="customClass"
  class="accordion-title">
    <div class="accordion-text">
      <p><strong><span class="default-highlight">TBD</span></strong> TBD</p>
      <ul>
        <li>
          TBD 
        </li>
      </ul>
      <p><strong><span class="default-highlight">TBD</span></strong> TBD</p>
      <ul>
        <li>
          TBD 
        </li>
      </ul>
    </div>    
  </accordion-group>

  <accordion-group 
  heading="Mobile Testing" 
  panelClass="customClass"
  class="accordion-title">
    <div class="accordion-text">
      <p><strong><span class="default-highlight">TBD</span></strong> TBD</p>
      <ul>
        <li>
          TBD 
        </li>
      </ul>
      <p><strong><span class="default-highlight">TBD</span></strong> TBD</p>
      <ul>
        <li>
          TBD 
        </li>
      </ul>
    </div>    
  </accordion-group>

  <accordion-group 
  heading="Front-End Development" 
  panelClass="customClass"
  class="accordion-title">
    <div class="accordion-text">
      <p><strong><span class="default-highlight">TBD</span></strong> TBD</p>
      <ul>
        <li>
          TBD 
        </li>
      </ul>
      <p><strong><span class="default-highlight">TBD</span></strong> TBD</p>
      <ul>
        <li>
          TBD 
        </li>
      </ul>
    </div>    
  </accordion-group>

  <accordion-group 
  heading="Hard Skills" 
  panelClass="customClass"
  class="accordion-title">
    <div class="accordion-text">
      <p><strong><span class="default-highlight">TBD</span></strong> TBD</p>
      <ul>
        <li>
          TBD 
        </li>
      </ul>
      <p><strong><span class="default-highlight">TBD</span></strong> TBD</p>
      <ul>
        <li>
          TBD 
        </li>
      </ul>
    </div>    
  </accordion-group>

    <accordion-group 
    heading="Certifications"
    panelClass="customClass"
    class="accordion-title">
    <div class="accordion-text">
      <p><strong><span class="default-highlight">Automation with Python</span></strong> by Google - March/2023</p>
      <ul>
        <li>
          Automated tasks by writing Python scripts. Analyzed real-world IT problems and implemented the appropriate strategies to solve the problems. Managed resources at scale, both for physical and virtual machines in the Google Cloud.
        </li>
      </ul>
      <p><strong><span class="default-highlight">Cybersecurity</span></strong> by Google - November/2024</p>
      <ul>
        <li>
          Automated Cybersecurity Tasks with Python. Networks and Network Security. Utilized Linux, Git, SQL, tcpdump. Learned Foundations of Cybersecurity (Detection and Response, Assets, Threats, Vulnerabilities, Managing the Security Risks).
        </li>
      </ul>
      <p><strong><span class="default-highlight">AWS Knowledge: Cloud Essentials</span></strong> by AWS - November/2023</p>
      <ul>
        <li>
          Knowledged foundations of AWS Cloud concepts with a focus on AWS Compute, Storage, Networking and Database services, security, architecture, pricing, and support.
        </li>
      </ul>
      <p><strong><span class="default-highlight">AWS Cloud Quest: Cloud Practitioner</span></strong> by AWS - November/2023</p>
      <ul>
        <li>
          Hands-on experience with AWS compute, networking, database and security services.
        </li>
      </ul>
      <p><strong><span class="default-highlight">Postman for Developers</span></strong> by Postman - July/2023</p>
      <ul>
        <li>
          Mastered Postman by solving real-world solutions like: Authorization, Variables, Tests, Debugging, Run a collection, Scripting, Mock services, Monitoring, Postman API, Newman, OAuth, Write to file, Pagination, Visualizations, API specifications, GraphQL, Documentation, WebSockets, Public profile, Data files, Using libraries, Dynamic request bodies, Parse HTML response, Scenario testing, UI testing, Webhooks.
        </li>
      </ul>
    </div>
    </accordion-group>
    
    <accordion-group 
    heading="Technologies"
    panelClass="customClass"
    class="accordion-title">
      <div class="tech-board">
          <div class="tech-cell">
              <i class="devicon-python-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-javascript-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-typescript-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-bash-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-html5-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-css3-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-linux-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-archlinux-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-android-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-git-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-github-original"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-gitlab-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-githubactions-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-jenkins-line"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-docker-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-playwright-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-cypressio-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-pytest-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-vscode-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-insomnia-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-postman-plain"></i>
          </div>
          <div class="tech-cell">
              <i class="devicon-jira-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-mysql-plain"></i>
         </div>
         <div class="tech-cell">
            <i class="devicon-figma-plain"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-firebase-plain-wordmark"></i>
          </div>
          <div class="tech-cell">
            <i class="devicon-angular-plain"></i>
         </div>
         <div class="tech-cell">
          <i class="devicon-amazonwebservices-plain-wordmark"></i>
        </div>
        <div class="tech-cell">
          <i class="devicon-netlify-plain"></i>
        </div>
      </div>
    </accordion-group>
  
  </accordion>
  
</div>
