<div class="align-items-center default-container">
  <div class="col-12 col-md-8 col-lg-8">
    <div class="text-left landing-header">
      <h1 class="home-title">Hello,</h1>
      <h2 class="home-subtitle">
        My name is <span class="animated-name">Mykhail</span>
      </h2>
      <h3 class="home-dynamic-line">
        I'm a <span id="dynamic-text">{{ dynamicText }}</span>
      </h3>

      <button>
        <a routerLink="/portfolio" class="a-green">Portfolio</a>
      </button>
    </div>
  </div>
</div>
<app-page-up-button></app-page-up-button>
